## Тема “Вычисления с помощью Numpy”

### Задание 1

#### Импортируйте библиотеку Numpy и дайте ей псевдоним np.
#### Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

In [38]:
#количество наблюдений:
N = 5 
#количество признаков:
M = 2

In [9]:
a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])

In [10]:
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [27]:
mean_a = a.mean(axis=0)
print("Средние значения признаков: {}".format(mean_a))

Средние значения признаков: [2.  8.4]

### Задание 2

#### Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [28]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

### Задание 3

#### Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [37]:
a_centered_sp = a_centered[:,0].dot(a_centered[:,1])
print("Скалярное произведение столбцов массива a_centered равно: {}".format(a_centered_sp))

Скалярное произведение столбцов массива a_centered равно: 8.0

In [39]:
a_centered_sp/(N-1)

2.0

## Тема “Работа с данными в Pandas”

### Задание 1

#### Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский']. 
#### Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
#### [1, 1, 1, 2, 2, 3, 3], 
#### ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
#### [450, 300, 350, 500, 450, 370, 290].

In [42]:
import pandas as pd

In [50]:
authors = pd.DataFrame({"author_id": [1,2,3], "author_name": ['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [51]:
books = pd.DataFrame({"author_id": [1,1,1,2,2,3,3], "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], "price": [450, 300, 350, 500, 450, 370, 290]})
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2

#### Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [52]:
authors_price = pd.merge(authors, books, on="author_id", how="inner")
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

#### Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [67]:
top5 = authors_price.nlargest(5, "price")
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Задание 4

#### Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
#### author_name, min_price, max_price и mean_price,
#### в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.

In [188]:
authors_stat = pd.DataFrame(columns=["author_name", "min_price", "max_price", "mean_price"])
authors_stat

Empty DataFrame
Columns: [author_name, min_price, max_price, mean_price]
Index: []

In [189]:
#authors_stat1 = authors_price.groupby("author_name")
#authors_stat2 = authors_price.groupby("author_name")["price"].min()
#authors_stat["author_name"] = authors_stat2

In [190]:
authors_stat["min_price"] = authors_price.groupby("author_name").agg({"price": "min"})
authors_stat["max_price"] = authors_price.groupby("author_name").agg({"price": "max"})
authors_stat["mean_price"] = authors_price.groupby("author_name").agg({"price": "mean"})
authors_stat

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series